<h1>New File</h1>

<%= form_with model: @encryption_logs do |encryptionLog| %>
  <div>
    <%= form.label :filename %><br>
    <%= form.text_field :filename %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
